@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<body style="text-align:center;margin-top:8em;">
    <div class="container">
        <div id='tieude'>
            <h3 class="tde">
                <span>shopping successfull</span>
            </h3>
        </div>
        <h4>Bills of your had sent the Shop.Thanks!</h4>
        <a class="btn btn-default" href="@Url.Action("IndexUser","Home")">Continue Shopping..</a>

    </div>

</body>

